

.hero-section {
    background-size: cover;
    height: 70vh;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0%;
    padding-top: 0%;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}  

.animated-search-form[type=search] {
    width: 15rem;
    border: 0.125rem solid #e6e6e6;
    box-shadow: 0 0 3.125rem rgba(214, 248, 18, 0.18);
    border-radius: 0;
    background-image: url("https://image.ibb.co/i7NbrQ/search_icon_15.png");
    background-position: 0.625rem 0.625rem;
    background-repeat: no-repeat;
    padding: 0.75rem 1.25rem 0.75rem 2rem;
    border-radius: 0.5rem;
    transition: width 0.4s ease-in-out border-radius 0.5rem;;
  }
#submit{
    margin-top: 20px;
    padding: .7rem;
    background-color: aqua;
    border-radius: .5rem;
}
#submit:hover {
    box-shadow: 0 0.4rem 2.4rem 0 rgba(255,255,0,0.5);
   
}
  

#topline{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}
#topline:hover{
    color: yellow;
    text-shadow: yellow 2rem;
    font-size: 50.1px;
}
h3:hover{
    color: yellow;
}
.hero-section .hero-section-text {
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
} 

.input-group-rounded .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
}  

.input-group-rounded .input-group-button .button {
    border-radius: 0 5000px 5000px 0;
    font-size: 0.8rem;
}
.hero-section {
    background: url("./Images/wp2856269-hd-gif-wallpapers.gif") 50% no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}  

.callout-hover-reveal .callout-footer {
    display: none;
  }
  